.env

cache/*
custom/*
tpl/custom/*
sql/code_lang*

# Mark required empty directories
!.githold

# Commit application's lock file http://getcomposer.org/doc/01-basic-usage.md#composer-lock-the-lock-file
# composer.lock
vendor/
