{% macro input_hidden(name, value) %}
    <input type="hidden" name="{{ name }}" value="{{ value }}">
{% endmacro input_hidden %}

{% macro input_row(type, name, checked, label, hint) %}
    <div class="form-group row">
        <div class="col-md-3">{{ label }}</div>
        <div class="col">
            <div class="form-check">
                <label class="form-check-label text-muted small">
                    <input class="form-check-input" type="{{ type }}" name="admin[]"
                           value="{{ name }}" {{ checked ? 'checked' }}>
                    {{ hint }}
                </label>
            </div>
        </div>
    </div>
{% endmacro input_row %}

{% macro input_row_admin(type, name, checked, label, hint) %}
    <div class="form-group row">
        <div class="col-md-3">{{ label }}</div>
        <div class="col">
            <div class="form-check">
                <label class="form-check-label text-muted small">
                    <input class="form-check-input" type="{{ type }}" name="admin[]"
                           value="{{ name }}" {{ checked ? 'checked' }}>
                    {{ hint }}
                </label>
            </div>
        </div>
    </div>
{% endmacro input_row_admin %}

{% macro input_row_plain(type, name, checked, label, hint) %}
    <div class="form-group row">
        <div class="col-md-3">{{ label }}</div>
        <div class="col">
            <div class="form-check">
                <label class="form-check-label text-muted small">
                    <input class="form-check-input" type="{{ type }}"
                           name="{{ name }}" {{ checked ? 'checked' }}>
                    {{ hint }}
                </label>
            </div>
        </div>
    </div>
{% endmacro input_row_plain %}

{% macro adminflags(admin) %}
    {% spaceless %}
    {% if admin.param %}<span data-toggle="tooltip" title="{{ t.ParameterSet }}">P</span>{% endif %}
    {% if admin.slave %}<span data-toggle="tooltip" title="{{ t.SlaveSet }}">S</span>{% endif %}
    {% if admin.multi %}<span data-toggle="tooltip" title="{{ t.MultilineSet }}">M</span>{% endif %}
    {% endspaceless %}
{% endmacro adminflags %}
